body {
    color: rgb(91, 198, 244);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    font-size: large;
}

#hero {
    background-image: url("./Images/galaxy.gif");
    background-size: cover;
    padding: 10px 0 500px 0;
}

.title {
    text-shadow: 0px 0px 5px violet;
}

.underline {
    text-decoration-line: underline;
    /* 
    Here the tutorial given:
    border-bottom: 4px solid white;
    */
}

#main-logo {
    width: 100px;
}

.btn {
   padding: 6px 12px;
   background-color: #8992C1;
   border:none;
   font-family: inherit;
   font-weight: 800;
}